modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "451139089274-c30eh4qe5n43u50btl6rrglb6jkstv6h.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_CLIENT_SECRET = "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"
RAZORPAY_KEY_ID = "rzp_test_SRLN1sHDShHNXe"
RAZORPAY_KEY_SECRET = "8oFdLCMJXhty2NE3eTUCI5hd"
